body
{
  background-color: white;
}

div#webcam
{
  width: 320px;
  height: 240px;
}

img#live
{
  border: 1px solid ;
  width: 320px;
  height: 240px;
}

p#banner
{
  width: 300px;
  margin: 2px;
  color: #A9A9A9;
  background-color: #F0FFFF;
  border: 1px solid #A9A9A9;
  border-radius: 20px;
  position:relative;
  top:-241px;
  text-align: center;
}

div#keyboard
{
  text-align: center;
  align: "center";
  width: 320px;
}

div#keyboard table
{
  margin: 0 auto; 
  text-align: left;
}

div.img
{
  margin: 0 10px 10px 0;  /* top bottom right left */
  float: left;
  height:auto;
}	

div.img img
{
 /* margin: 3px;  */
  height: 70;
  width: 70;  
  border: 1px solid white;
  /* opacity: 0.4; */
}

div.img a:hover img
{
  border:1px solid blue;  
  /* create round corner for image */
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

.clearboth { clear: both; } /* force new line */

p
{
  margin: 10 10px 10px 0;  /* top bottom right left */
  /* color:white; */
  /* background-color:yellow; */
}

p.padding
{
  border-style: ridge;
  color: silver;
  font-size: 12px;
  border: 1px solid;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:2px;
  padding-left:2px;
  width:312px;
  text-align: left;
}
